html {
  text-align: center;
  background-color: cornsilk;
}

 #n1 #n2 {
  width: 75px;
  height: 50px;
  background-color: cornsilk;
}
#n h1{
  text-align: center;
  background-color: cornsilk;
}
#chart{
padding: 2%;
}
